---
import Layout from "../../layouts/Layout.astro";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { id: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout
  frontmatter={{
    title: post.data.title,
    description: post.data.excerpt,
    ogImage: post.data.ogImage || "/christoph_lupprich.png",
  }}
>
  <main
    class="flex-shrink-0 flex-grow px-6 md:max-w-3xl md:px-12 lg:mx-auto lg:max-w-4xl"
  >
    <article class="prose dark:prose-invert !max-w-none">
      <h1>{post.data.title}</h1>
      <Content />
    </article>
  </main>
</Layout>
