---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import headshot from "../assets/christoph_lupprich.png";

import { getCollection } from "astro:content";
const posts = (await getCollection("posts")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<Layout
  frontmatter={{
    title: "Christoph Lupprich",
    description:
      "Christoph Lupprich is a senior software engineer, specialising on web application development with Ruby on Rails.",
    ogImage: "/christoph_lupprich.png",
    canonical: "https://christoph.luppri.ch",
  }}
>
  <main
    class="flex-shrink-0 flex-grow px-6 md:max-w-3xl md:px-12 lg:mx-auto lg:max-w-4xl"
  >
    <article class="prose dark:prose-invert !max-w-none">
      <div class="flex-row-reverse items-center md:flex">
        <Image
          src={headshot}
          alt="Christoph Lupprich"
          class="not-prose mx-auto h-32 w-32 rounded-full max-sm:mb-6"
        />

        <div class="md:pr-8 lg:pr-12">
          <span class="font-bold">Now</span>
          <p>
            I'm a self-employed senior software engineer and consultant with 15+
            years of experience building and scaling web applications with
            proven technologies.
          </p>

          <p>
            Based in Vienna, Austria, together with my wife and our two kids, I
            balance family life with my passion for running - currently <a
              href="https://www.strava.com/athletes/15136307"
              target="_blank">training</a
            > for a sub-20-minute 5k this year (read: I get up <i>very</i> early).
          </p>
        </div>
      </div>

      <div class="mt-16">
        <span class="font-bold">On Work</span>
        <p>
          What excites me is working with people who share my passion for
          building great products and services. There's hardly any better
          feeling than solving business needs from day one and seeing a product
          come to life.
        </p>

        <p>
          My favorite stack is a combination of Ruby, Rails, PostgreSQL, and
          HTML/Tailwind CSS/Hotwire. I'm also comfortable operating services on
          all kinds of platforms - starting from root servers, over PaaS, up to
          Kubernetes clusters and other cloud solutions and providers.
        </p>

        <p>
          While I consider Ruby on Rails to be the perfect framework for
          building web applications, I'm also well versed in other technologies
          such as Python/FastAPI, Vue.js, and React, and like to tip my toes
          into new technologies and frameworks, such as Elixir and Erlang.
        </p>
      </div>

      <div class="mt-16">
        <span class="font-bold">Projects</span>
        <ul>
          <li>
            <a href="https://easyhard.carbonative.com" target="_blank"
              >Easy &amp; Hard</a
            > - track your running intensity and master the 80/20 rule.
          </li>
        </ul>
      </div>

      <div class="mt-16">
        <span class="font-bold">Past</span>
        <p>
          Most recently, I was part of <a
            href="https://www.optoro.com"
            target="_blank">Optoro</a
          > (now part of Blue Yonder), a startup in the reverse logistics and returns
          space, turning returns into revenue and sustainability wins for major retailers.
        </p>
        <p>
          Before that, I managed the development of a solutions-product for
          maritime safety operations, led a team building a medical drug
          information and interaction system, co-founded a startup analyzing
          real estate transactions, and prototyped software for air traffic and
          maritime control centers.
        </p>
      </div>

      <div class="mt-16">
        <span class="font-bold">Network</span>
        <p>
          I've worked together with these awesome folks on various projects over
          the last couple of years: <a href="https://fritzgrabo.com">Fritz</a> and
          <a href="https://wolfgangrittner.dev">Wolfgang</a>. Together we will
          tackle the most challenging projects.
        </p>
      </div>

      <div class="mt-16">
        <span class="font-bold">Writing</span>
        <p>
          <ul>
            {
              posts.map((post) => (
                <li>
                  <>
                    <a href={`/posts/${post.id}/`}>{post.data.title}</a>
                    <br />
                  </>
                  {post.data.excerpt}
                </li>
              ))
            }
          </ul>
        </p>
      </div>

      <div class="mt-16">
        <span class="font-bold">Contact</span>
        <p>
          If you’re curious to learn more, discuss a project, or just want to
          chat, feel free to <a
            href="https://cal.com/christoph-lupprich-ajp2wf"
            target="_blank"
          >
            hop on a call</a
          > with me or reach me at <a href="mailto:christoph+www@luppri.ch"
            >christoph@luppri.ch</a
          >.
        </p>
      </div>
    </article>
  </main>
</Layout>
