---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import headshot from "../assets/christoph_lupprich.png";
---

<Layout
  frontmatter={{
    title: "Christoph Lupprich",
    description:
      "Christoph Lupprich is a senior software engineer, specialising on web application development with Ruby on Rails.",
    ogImage: "/christoph_lupprich.png",
    canonical: "https://christoph.luppri.ch",
  }}
>
  <main class="flex-grow flex-shrink-0 px-6 md:px-12 md:max-w-3xl lg:max-w-4xl lg:mx-auto">
    <article class="prose dark:prose-invert xl:max-w-3xl">
      <div class="flex-row-reverse items-center md:flex">
        <Image src={headshot} alt="Christoph Lupprich" class="not-prose w-32 h-32 mx-auto rounded-full max-sm:mb-6" />

        <div class="md:pr-8 lg:pr-12">
          <span class="font-bold">Now</span>
          <p>
            I work as a freelance software engineer. I love solving business problems with reliable, well-proven
            technology.
          </p>
        </div>
      </div>

      <div class="mt-16">
        <span class="font-bold">Past</span>
        <p>
          Most recently, I was part of a startup that scaled from its beginnings to enterprise clients in the reverse
          logistics and returns space, helping major retailers turn returns into revenue and sustainability wins.
        </p>
        <p>
          Before that, I managed the development of a solutions-product for maritime safety operations, led a team
          building a medical drug information and interaction system, co-founded a startup analyzing real estate
          transactions, and prototyped software for air traffic and maritime control centers.
        </p>

        <div class="mt-16">
          <span class="font-bold">Network</span>
          <p>
            I've worked together with these awesome folks on various projects over the last couple of years: <a
              href="https://fritzgrabo.com">Fritz</a
            > and <a href="https://wolfgangrittner.dev">Wolfgang</a>. Together we will tackle the most challenging
            projects.
          </p>
        </div>

        <div class="mt-16">
          <span class="font-bold">Contact</span>
          <p>
            If you’re curious to learn more, discuss a project, or just want to chat, feel free to <a
              href="https://cal.com/christoph-lupprich-ajp2wf"
              target="_blank"
            >
              schedule a meeting</a
            > with me.
          </p>
        </div>
      </div>
    </article>
  </main>
</Layout>
