---
import { Image } from "astro:assets";
import headshot from "../assets/christoph_lupprich.png";
---

<div class="flex-row-reverse items-center md:flex">
  <Image
    src={headshot}
    alt="Christoph Lupprich"
    class="w-32 h-32 mx-auto rounded-full"
  />

  <div class="md:pr-8 lg:pr-12">
    <p class="font-bold">Hej, I'm Christoph,</p>
    <p>
      I’m a father of two and a senior web developer based in Vienna, Austria. I
      love solving real-world business problems with reliable, well-proven
      technology.
    </p>
    <p>
      Over the years, I’ve:
      <ul>
        <li>
          Prototyped software for air traffic and maritime control centers
        </li>
        <li>Co-founded a startup analyzing real estate transactions</li>
        <li>
          Led a team building a medical drug information and interaction system,
          an
        </li>
        <li>
          Managed the development of a large-scale solution for maritime
          operations
        </li>
      </ul>
    </p>
    <p>
      If you’re curious to learn more, discuss a project, or just want to chat,
      feel free to reach out.
    </p>
  </div>
</div>
